html {
  height: 100%;
}
body {
  height: 100%;
  background: linear-gradient(to right, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url( 'background.png' ) ;
  color: white;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  overflow: hidden;
}
p, div {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.btns {
  display: none;
  width: 200px;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
}
#change-basedir {
  background-color: #6ab3b0;
}
#confirm-basedir {
  background-color: #d06449;
  display: none;
}
#disclaimer {
  font-size: 0.8em;
}
